<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] </title>

    <link rel="shortcut icon" type="~/image/x-icon" href="~/img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <!-- nivo-slider css -->
    <link rel="stylesheet" href="~/lib/css/nivo-slider.css">
    <link rel="stylesheet" href="~/lib/css/preview.css">
    <!-- slick css -->
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- lightbox css -->
    <link rel="stylesheet" href="~/css/lightbox.min.css">
    <!-- material-design-iconic-font css -->
    <link rel="stylesheet" href="~/css/material-design-iconic-font.css">
    <!-- All common css of theme -->
    <link rel="stylesheet" href="~/css/default.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/style.css">
    <!-- shortcode css -->
    <link rel="stylesheet" href="~/css/shortcode.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!-- WRAPPER START -->
    <div class="wrapper bg-dark-white">

        @RenderBody()
        <!-- FOOTER START -->
        <footer>
            <!-- Footer-area start -->
            <div class="footer-area footer-2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                            <div class="single-footer">
                                <h3 class="footer-title  title-border">Contact Us</h3>
                                <ul class="footer-contact">
                                    <li><span>Address :</span>28 Green Tower, Street Name,<br>New York City, USA</li>
                                    <li><span>Cell-Phone :</span>012345 - 123456789</li>
                                    <li><span>Email :</span>contact@arthaus-furniture.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <div class="single-footer">
                                <h3 class="footer-title  title-border">accounts</h3>
                                <ul class="footer-menu">
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>My Account</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>My Wishlist</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>My Cart</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Sign In</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Check out</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 hidden-sm col-xs-12">
                            <div class="single-footer">
                                <h3 class="footer-title  title-border">shipping</h3>
                                <ul class="footer-menu">
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>New Products</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Top Sellers</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Manufactirers</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Suppliers</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Specials</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="single-footer">
                                <h3 class="footer-title  title-border">Email Newsletters</h3>
                                <div class="footer-subscribe">
                                    <form action="#">
                                        <input type="text" name="email" placeholder="Email Address..." />
                                        <button class="button-one submit-btn-4" type="submit" data-text="Subscribe">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer-area end -->
            <!-- Copyright-area start -->
            <div class="copyright-area copyright-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="copyright">
                                <p class="mb-0">&copy; Arthaus 2018. All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="payment  text-right">
                                <a href="#"><img src="~/img/payment/1.png" alt="" /></a>
                                <a href="#"><img src="~/img/payment/2.png" alt="" /></a>
                                <a href="#"><img src="~/img/payment/3.png" alt="" /></a>
                                <a href="#"><img src="~/img/payment/4.png" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Copyright-area start -->
        </footer>
        <!-- FOOTER END -->
    </div>
    <!-- WRAPPER END -->
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="~/js/vendor/jquery-1.12.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- jquery.meanmenu js -->
    <script src="~/js/jquery.meanmenu.js"></script>
    <!-- slick.min js -->
    <script src="~/js/slick.min.js"></script>
    <!-- jquery.treeview js -->
    <script src="~/js/jquery.treeview.js"></script>
    <!-- lightbox.min js -->
    <script src="~/js/lightbox.min.js"></script>
    <!-- jquery-ui js -->
    <script src="~/js/jquery-ui.min.js"></script>
    <!-- jquery.nivo.slider js -->
    <script src="~/lib/js/jquery.nivo.slider.js"></script>
    <script src="~/lib/home.js"></script>
    <!-- jquery.nicescroll.min js -->
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <!-- countdon.min js -->
    <script src="~/js/countdon.min.js"></script>
    <!-- wow js -->
    <script src="~/js/wow.min.js"></script>
    <!-- plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- main js -->
    <script src="~/js/main.js"></script>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/Microsoft.jQuery.Unobtrusive.Ajax/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
                crossorigin="anonymous">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)

</body>
</html>
