<!-- Mobile-menu end -->
<!-- HEADING-BANNER START -->
<div class="heading-banner-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                    </div>
                    <div class="breadcumbs pb-15">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HEADING-BANNER END -->
<!-- 404-AREA START -->
<div class="area-404  pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="error-content text-center">
                    <h4 class="text-light-black mt-60">@ViewBag.Title</h4>
                    <h5 class="text-light-black">@ViewBag.Message</h5>

                    <a asp-controller="Home" asp-action="Index" class="button-one submit-btn-4 go-to-home bg-white text-uppercase text-light-black" data-text="go to home page">return to home page</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 404-AREA END -->
