<!-- HEADER-AREA START -->
<header id="sticky-menu" class="header header-2">

    <!-- MAIN-MENU START -->
    <div class="menu-toggle menu-toggle-2 hamburger hamburger--emphatic hidden-xs">
        <div class="hamburger-box">
            <div class="hamburger-inner"></div>
        </div>
    </div>
    <div class="main-menu  hidden-xs">
        <nav>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">home</a>
                </li>
                <li>
                    <a asp-controller="Products" asp-action="Index">catalog</a>
                    <div class="mega-menu menu-scroll">
                        <div class="table">
                            <div class="table-cell">
                                <div class="half-width">
                                    <ul>
                                        <li class="menu-title">best brands</a></li>
                                        @await Html.PartialAsync("../Home/ItemBrands.cshtml")
                                    </ul>
                                </div>
                                <div class="half-width">
                                    <ul>
                                        <li class="menu-title">popular categories</a></li>
                                        @await Html.PartialAsync("../Home/ItemCategories.cshtml")
                                    </ul>
                                </div>
                                <div class="full-width">
                                    <div class="mega-menu-img">
                                        <a href="single-product.html"><img src="~/img/megamenu/1.jpg" alt="" /></a>
                                    </div>
                                </div>
                                <div class="pb-80"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a asp-controller="Products" asp-action="ViewAccessories" asp-route-accessories="true">accesories</a></li>
                <li><a asp-controller="Home" asp-action="Lookbook">lookbook</a></li>
                <li><a asp-controller="Home" asp-action="Blog">blog</a></li>
                <li>
                    <a href="#">pages</a>
                    <div class="sub-menu menu-scroll">
                        <ul>
                            <li class="menu-title">Pages</li>
                            <li><a asp-controller="Products" asp-action="Index">Products</a></li>
                            <li><a asp-controller="Products" asp-action="Services">Services</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="order.html">Custom Order</a></li>
                            <li><a asp-controller="Account" asp-action="Register">login / Registration</a></li>
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a asp-controller="Products" asp-action="TopBrands">Top Brands</a></li>
                            <li><a asp-controller="Products" asp-action="PopularDivisions">Popular Categories</a></li>
                        </ul>
                    </div>
                </li>
                <li><a asp-controller="Home" asp-action="About">about us</a></li>
                <li><a asp-controller="Home" asp-action="Contact">contact</a></li>
            </ul>
        </nav>
    </div>
    <!-- MAIN-MENU END -->
</header>
<!-- HEADER-AREA END -->
<!-- Mobile-menu start -->
<div class="mobile-menu-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">home</a>
                            </li>
                            <li><a asp-controller="Products" asp-action="Index">Catalog</a></li>
                            <li><a asp-controller="Home" asp-action="ViewAccessories">accesories</a></li>
                            <li><a asp-controller="Services" asp-action="Index">Services</a></li>
                            <li><a asp-controller="Home" asp-action="Lookbook">lookbook</a></li>
                            <li><a asp-controller="Home" asp-action="Blog">blog</a></li>
                            <li>
                                <a href="#">pages</a>
                                <ul>
                                    <li><a asp-controller="Products" asp-action="Index">Products</a></li>
                                    <li><a asp-controller="Services" asp-action="Index">Services</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="order.html">Custom Order</a></li>
                                    <li><a asp-controller="Account" asp-action="Register">login / Registration</a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a asp-controller="Products" asp-action="TopBrands">Top Brands</a></li>
                                    <li><a asp-controller="Products" asp-action="PopularDivisions">Popular Categories</a></li>
                                </ul>
                            </li>
                            <li><<a asp-controller="Home" asp-action="About">about us</a></li>
                            <li><a asp-controller="Home" asp-action="Contact">contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mobile-menu end -->