<div class="heading-banner-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>Shipping Information</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li>Return Information</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HEADING-BANNER END -->
<!-- BLGO-AREA START -->
<div class="blog-area blog-2 blog-details-area  pt-80 pb-80">
    <div class="container">
        <div class="blog">
            <div class="row">
                <!-- Single-blog start -->
                <div class="col-md-9">
                    <div class="single-blog mb-30">
                        <div class="blog-photo">
                            <a href="#"><img src="~/img/blog/10.jpg" alt="" /></a>
                        </div>
                        <div class="blog-info blog-details-info">
                            <h3 class="post-title post-title-2"><a href="#">RETURNS & EXCHANGE INFORMATION</a></h3>

                            <h4 class="post-title post-title-2">
                                HOW DO I RETURN ONE OR MORE ITEMS?
                            </h4>
                            <p>
                                If you want to return one or more items, please contact us by clicking here and specify your order number and the items you want to return. We advise you to always keep the shipping receipt, until you received our confirmation about receiving your parcel. Keep in mind that you are held responsible for the parcel until the items have returned to our warehouse. ALWAYS add your name and order number to the parcel before returning it.

                                IMPORTANT: Keep in mind to contact us BEFORE sending back any items. We will send you the address you can use to return your parcel and update your order in our system. Just go to our contact form, fill in the blanks and select ‘returns’.

                            <p>Return address (it is VERY important that you add your name and order number to the parcel):</p>
                            <ul>

                                <li>
                                    ARTHAUS Returns
                                </li>
                                <li>
                                    c/o VDS Fulfillment
                                </li>
                                <li>
                                    Waddixhavenstraat 5
                                </li>
                                <li>
                                    WX3742 Gouda
                                </li>
                                <li>
                                    Netherlands
                                </li>
                            </ul>
                           
                            <h4 class="post-title post-title-2">
                                DO I NEED TO PAY FOR MY RETURN?
                            </h4>
                            <p>
                                Yes, as specified in our Terms and Conditions you will have to pay your own return shipping costs.
                                The exact amount of these costs will depend on the company you choose to do the shipping with, and the 
                                fare chosen.
                            </p>

                            <h4 class="post-title post-title-2">
                                HOW AND WHERE DO I RETURN BROKEN/DAMAGED ITEMS?
                            </h4>
                            <p>
                                In case any of your items arrives damaged, please contact us directly through our web form under the issue “delivery issues” and tell us the order number and a description of the issue. We’ll get back to you to request a picture, to get a better understanding of the situation and see what could’ve possibly happened, and then explain how to proceed depending on each case.
                            </p>

                            <h4 class="post-title post-title-2">
                                HOW LONG DO I HAVE TO RETURN/EXCHANGE AN ITEM?
                            </h4>
                            <p>
                                If you have received a defective item, please inform us directly after receiving it, not later than 14 days after the delivery. 
                                If you just want to return or exchange an item, please get in touch with us within a maximum of 30 days and be aware that an item needs to be as new and with labels and packaging, to be able to be returned.
                            </p>

                            <h4 class="post-title post-title-2">
                                WHAT DELIVERY LOCATIONS CAN I CHOOSE?
                            </h4>
                            <p>
                                You have the option to get your order delivered to your personal home address, but you can of course also choose your work address.
                                If you go for the last option, just add the name of your Company and the name of the recipient in the extra field.
                            </p>

                            <h4 class="post-title post-title-2">
                                HOW WILL I BE INFORMED THAT MY RETURN HAS BEEN PROCESSED?
                            </h4>
                            <p>
                                Once we received your items, we will get in touch with you directly through the email address that you used for placing the order. We will then confirm the return and either provide the corresponding voucher or confirm the processing of the refund, depending on each case.
                            </p>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
