        <div class="heading-banner-area overlay-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-banner">
                            <div class="heading-banner-title">
                                <h2>Shipping & Delivery Information</h2>
                            </div>
                            <div class="breadcumbs pb-15">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li>Shipping Information</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- HEADING-BANNER END -->
        <!-- BLGO-AREA START -->
        <div class="blog-area blog-2 blog-details-area  pt-80 pb-80">
            <div class="container">
                <div class="blog">
                    <div class="row">
                        <!-- Single-blog start -->
                        <div class="col-md-9">
                            <div class="single-blog mb-30">
                                <div class="blog-photo">
                                    <a href="#"><img src="~/img/services/delivery.jpg" alt="" /></a>
                                </div>
                                <div class="blog-info blog-details-info">
                                    <h3 class="post-title post-title-2"><a href="#">SHIPPING & DELIVERY INFORMATION</a></h3>

                                    <h4 class="post-title post-title-2">
                                        WHAT DELIVERY COMPANIES ARE WE WORKING WITH?
                                    </h4>
                                    In normal circumstances orders to be delivered to Netherlands, Germany, Belgium Spain, Portugal and Switzerland will be sent out through our warehouse in Gouda, and delivered by UPS. You will receive an automated shipping confirmation and access to UPS online, where you can manage, track and change  your delivery.

                                    For other countries in Europe, orders will normally be sent through Amazon Fulfillment Germany (warehouse), and they choose the courier of their convenience for each order. Some of the couriers they use are be DHL, Hermes, Post (Germany, Netherlands, France..), Amazon logistics, Seur, UPS.

                                    For the reason that some carriers do not deliver to Postboxes, we ask you to please provide your house or work address. As mentioned above, depending on the carrier, you can, change the delivery to a for example UPS Pick-up point, once you have been notified.</p?

                                    <h4 class="post-title post-title-2">
                                        WHAT ARE THE USUAL DELIVERY TIMES?
                                    </h4>
                                    <p>  Items in stock:</p>

                                    <p>  – European orders: 1-10 working days, from the moment it has been shipped.</p>

                                    <p>
                                        – Switzerland: 10-14 working days, from the moment it has been shipped.
                                    </p>

                                    <p> – Custom-ordered : between 4-8 weeks to produce the item (please check product description of each product page for the estimated dispatch date) plus normal shipping times as specified above.</p>


                                    <h4 class="post-title post-title-2">
                                        WHAT TO DO IF YOUR SHIPPING ADDRESS HAS CHANGED?
                                    </h4>
                                    <p>
                                        If your shipping address has changed and this affects an already placed order please get in touch with us as soon as possible. Through the contact form with subject “address change” or by phone (we speak Dutch, Spanish English, German, French and Italian and).
                                        If the order hasn’t been sent out yet, we’re able to modify the shipping address details. In case the order has already been sent out, we will have to wait until it’s returned to our warehouse in order to send it out again to the correct address.
                                        If the parcel was sent with UPS, you can update your delivery information online yourself and also re-schedule another delivery.
                                    </p>

                                    <h4 class="post-title post-title-2">
                                        WHERE DOES ARTHAUS DELIVER TO?
                                    </h4>
                                    <p>
                                        At the moment we deliver to the EU and Switzerland only.
                                        Depending on the shipping address and availability of the products your order will be sent out from our warehouses in Netherland or in Germany.
                                    </p>

                                    <h4 class="post-title post-title-2">
                                        WHAT DELIVERY LOCATIONS CAN I CHOOSE?
                                    </h4>
                                    <p>
                                        You have the option to get your order delivered to your personal home address, but you can of course also choose your work address.
                                        If you go for the last option, just add the name of your Company and the name of the recipient in the extra field.
                                    </p>

                                    <h4 class="post-title post-title-2">
                                        WHAT ARE THE COSTS FOR DELIVERY WHEN SHOPPING ONLINE?
                                    </h4>
                                    <p>
                                        For countries within the EU we offer free shipping (except Norway).
                                        For Norway and Switzerland we offer free delivery for orders over 1000€. We charge 8,90€ per 100km of distance.
                                        Please be aware that this is only for the outgoing shipment, you are responsible for the return shipment and any kind of import taxes that might apply.
                                    </p>

                                    <h4 class="post-title post-title-2">
                                        HOW CAN I TRACK MY PARCEL?
                                     </h4>
                                    <p>
                                        For orders sent through UPS the courier will send you an email once they’ve picked up your parcel and provide you with the tracking information. For any inquiry about its status you can choose to contact UPS directly in these cases.
                                        ****************** UPS will inform you about the scheduled delivery date and you can decide if you want to accept the “Home” delivery or prefer the delivery to a pick-up point. All updates are visible on the UPS Quantum platform.
                                    </p>

                                    <h4 class="post-title post-title-2">
                                        UNDELIVERABLE PARCELS
                                    </h4>
                                      <p>
                                       In case your parcel was not able to be delivered (because of your absence or in the case that the carrier was not able to find the address),
                                       it will be placed at a DHL Pick-up point for a certain time and the carrier will inform you about this. In case it is not picked up by you within 10 working days, the parcel will be returned to sender (us).
                                       In this case we will have to wait until the parcel reaches us again, to be able to resend it to you one more time after making sure that all the data we have is correct.
                                      </p>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
