@using System.Threading.Tasks
@using Microsoft.AspNetCore.Identity
@model LoginViewModel

@inject SignInManager<AppUser> SignInManager
<div class="col-md-6 col-sm-6 col-xs-12">
    <form asp-controller="Account" asp-action="SignUp" method="post" role="form">
        <div class="customer-login text-left">
            <h4 class="title-1 title-border text-uppercase mb-30">new customers</h4>
            <p class="text-gray">If you are new to our website, you can register here!</p>
            <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="UserName" placeholder="Your name here..." name="name">
            <span asp-validation-for="UserName" class="text-danger"></span>

            <input asp-for="Email" placeholder="Email address here..." name="email">
            <span asp-validation-for="Email" class="text-danger"></span>

            <input asp-for="Password" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>

            <input asp-for="ConfirmPassword" placeholder="Confirm password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            <p class="mb-0">
                <input type="checkbox" id="newsletter" name="newsletter" checked>
                <label for="newsletter"><span>Sign up for our newsletter!</span></label>
            </p>
            <button type="submit" data-text="regiter" class="button-one submit-button mt-15">regiter</button>
        </div>

    </form>
</div>
