<div class="pro-reviews mt-60">
    <div class="customer-review mb-60">
        <h3 class="tab-title title-border mb-30">Customer comments</h3>
        <ul class="product-comments clearfix">
            <li class="mb-30">
                <div class="pro-reviewer">
                    <img src="img/reviewer/1.jpg" alt="" />
                </div>
                <div class="pro-reviewer-comment">
                    <div class="fix">
                        <div class="floatleft mbl-center">
                            <h5 class="text-uppercase mb-0"><strong>Gerald Barnes</strong></h5>
                            <p class="reply-date">27 Jun, 2017 at 2:30pm</p>
                        </div>
                        <div class="comment-reply floatright">
                            <a href="#"><i class="zmdi zmdi-mail-reply"></i></a>
                            <a href="#"><i class="zmdi zmdi-close"></i></a>
                        </div>
                    </div>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at est bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
                </div>
            </li>
            <li class="threaded-comments">
                <div class="pro-reviewer">
                    <img src="img/reviewer/1.jpg" alt="" />
                </div>
                <div class="pro-reviewer-comment">
                    <div class="fix">
                        <div class="floatleft mbl-center">
                            <h5 class="text-uppercase mb-0"><strong>Gerald Barnes</strong></h5>
                            <p class="reply-date">27 Jun, 2017 at 2:30pm</p>
                        </div>
                        <div class="comment-reply floatright">
                            <a href="#"><i class="zmdi zmdi-mail-reply"></i></a>
                            <a href="#"><i class="zmdi zmdi-close"></i></a>
                        </div>
                    </div>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at est bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
                </div>
            </li>
        </ul>
    </div>

</div>


<div class="leave-review">
    <h3 class="tab-title title-border mb-30">Leave your reviw</h3>
    <div class="reply-box">
        <form action="#">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" placeholder="Your name here..." name="name" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" placeholder="Your email here..." name="email" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea class="custom-textarea" name="message" placeholder="Your review here..."></textarea>
                    <button type="submit" data-text="submit review" class="button-one submit-button mt-20">submit review</button>
                </div>
            </div>
        </form>
    </div>
</div>

