
@{ 

}

<aside class="widget widget-color mb-30">
    <div class="widget-title">
        <h4>Color</h4>
    </div>
    <div class="widget-info color-filter clearfix">
        <ul>
            <li><a href="#"><span class="color color-1"></span>LightSalmon<span class="count">12</span></a></li>
            <li><a href="#"><span class="color color-2"></span>Dark Salmon<span class="count">20</span></a></li>
            <li><a href="#"><span class="color color-3"></span>Tomato<span class="count">59</span></a></li>
            <li class="active"><a href="#"><span class="color color-4"></span>Deep Sky Blue<span class="count">45</span></a></li>
            <li><a href="#"><span class="color color-5"></span>Electric Purple<span class="count">78</span></a></li>
            <li><a href="#"><span class="color color-6"></span>Atlantis<span class="count">10</span></a></li>
            <li><a href="#"><span class="color color-7"></span>Deep Lilac<span class="count">15</span></a></li>
        </ul>
    </div>
</aside>