@{
    var colors = Common.GetAttributes(1).Take(9).ToList();
}
<aside class="widget widget-color mb-30">
    <div class="widget-title">
        <h4>Color</h4>
    </div>
    <div class="widget-info color-filter clearfix">
        <ul>
            @foreach (var color in colors){
                <li><a asp-controller="Products" asp-action="WidgetFilter" asp-route-color="@color"><span class="@Colors.GetColorClass(color.ToLower())"></span>@color<span class="count">12</span></a></li>
            }
        </ul>
    </div>
</aside>